{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "tabsWidth": 4,
                "bracketSpacing": false,
                "trailingComma": "none",
                "singleQuote": true
            }
        ]
    }
}